PORT=3000
NODE_ENV=development

DB_HOST=tu-host-de-aiven
DB_PORT=26769
DB_USER=tu-usuario
DB_PASSWORD=tu-password
DB_NAME=tu-base-de-datos
DATABASE_URL=postgres://tu-usuario:tu-password@tu-host-de-aiven:26769/tu-base-de-datos

JWT_SECRET=cambia-este-secreto

CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret
